<div id="toolwindow">
  <mat-tab-group class="mat-tab-group">
    <mat-tab label="Attributes">
  	  <div id="AttribsView"  style="margin-left: 5px;margin-top: 5px;">
        <table border="1" cellspacing="0" cellpadding="0" bordercolor="#d0d0d0">
          <tr >
            <th style="font-size: 12px;font-weight: normal;width: 85px;"><div style="width: 85px;height:16px;background: #395D73;color:white;">ID</div></th>
            <th style="font-size: 12px;font-weight: normal;width: 85px"><div style="width: 85px;height:16px;background: #395D73;color:white;">{{ID}}</div></th>
          </tr>
        </table>
        <table border="1" cellspacing="0" cellpadding="0" bordercolor="#d0d0d0">
          <tr *ngFor="let Property of Properties">
            <th style="font-size: 12px;font-weight: normal;color:#395d73;width: 85px;height: 14px"><div style="width: 85px;height:14px;text-align: left;">{{Property.Name}}</div></th>
            <th style="font-size: 12px;font-weight: normal;color:#395d73;width: 85px;height: 14px"><div style="width: 85px;height:14px;text-align: left;">{{Property.Value}}</div></th>
          </tr>
        </table>
	  </div>
    </mat-tab>
    <mat-tab label="&nbsp;&nbsp;&nbsp;&nbsp;Key&nbsp;&nbsp;&nbsp;&nbsp;" >
  	  <div id="KeyView" style="margin-left: 5px;margin-top: 5px;">
        <table border="1" cellspacing="0" cellpadding="0" bordercolor="#d0d0d0">
          <tr *ngFor="let Key of ColorKey">
            <th  style="width: 40px;"><div [ngStyle]="{ 'background-color': Key.color}" >&nbsp;&nbsp;&nbsp;</div></th>
            <th  style="font-size: 12px;font-weight: normal;color:#395d73;width: 130px;height: 14px"><div matTooltip={{Key.text}}  style="width: 130px;height:14px;text-align: left;white-space: nowrap;display:block;overflow: hidden !important;text-overflow: ellipsis !important;cursor:pointer;">{{Key.text}}</div></th>
          </tr>
        </table>
	  </div>
    </mat-tab>
    <mat-tab label="&nbsp;Settings&nbsp;" >
  	  <div id="SettingView" style="margin-left: 5px;margin-top: 5px;">
        <table>
          <tr>
          <th class="colorkey" style="width: 80px"><div class="Hide" style="width: 80px;color:#395d73;border:0;text-align: left;font-weight: normal;">Hide<input type="checkbox" id="CheckHide" [checked]="CheckHide" (click)="changeHide();checkHide()"></div></th>
          <th><div>
            <select class="cesium-button" >
              <option class="cesium-option" >1</option>
              <option class="cesium-option">2</option>
              <option class="cesium-option" >3</option>
              <option class="cesium-option">4</option>
            </select>
          </div></th>
          </tr>
          <tr>
          <th class="colorkey" style="width: 80px"><div class="Hide" style="width: 80px;color:#395d73;border:0;text-align: left;font-weight: normal;">Color</div></th>
          <th><div>
            <select class="cesium-button" (change)="onChangeColor($event.target.value)">
              <option class="cesium-option"  *ngFor="let ColorName of ColorNames" value={{ColorName}}>{{ColorName}}</option>
            </select>
          </div></th>
          </tr>
          <tr>
          <th class="colorkey" style="width: 80px"><div class="Hide" style="width: 80px;color:#395d73;border:0;text-align: left;font-weight: normal;">Height</div></th>
          <th><div>
            <select class="cesium-button" (change)="onChangeHeight($event.target.value)">
               <option class="cesium-option"  *ngFor="let Height of HeightKey" value={{Height}}>{{Height}}</option>
            </select>
          </div></th>
          </tr>
        </table>
        <table>
          <tr ><th style="width:80px;height: 25px;"><div style="width: 80px;color:#395d73;font-weight: normal;text-align: left;border:0;">Min</div></th>
          <th style="width:80px;height: 25px;"><div style="width:80px;color:#395d73;font-weight: normal;text-align: left;border:0;">{{Min}}</div></th></tr>  
          </table>
          <table >
          <tr ><th style="width:80px;"><div style="width: 80px;color:#395d73;font-weight: normal;text-align: left;border:0;">Max</div></th>
          <th style="width:80px;"><div style="width: 80px;color:#395d73;font-weight: normal;text-align: left;border:0;">{{Max}}</div></th></tr>
      </table>
	    </div>
    </mat-tab>
  </mat-tab-group>
</div>