@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@font-face{
  font-family: "FontAwesome";
}

html,body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px !important;
  padding: 0px !important;
  border: 0px !important;
  outline:0px !important;
  overflow: hidden;
  font-size: 14px;
}

#loadfile{
  z-index: 99;
  top: 5px;
  position: absolute;
  right: 86px;
  width: 32px;
  height: 32px;
  font-family: sans-serif !important;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 14%;
  padding: 0;
  vertical-align: middle;
}

#overlay{
  z-index: 250;
  background-color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: none;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 260;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display: none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*#drop_zone {
  position: absolute;
  left: calc(50% - 150px);
  border: 5px solid blue;
  width:  300px;
  height: 100px;
}*/


