<!--The content below is only a placeholder and can be replaced.-->
<!-- <body> -->
<!-- <div id="cesiumContainer"></div>
<div> -->
  <!-- <div id="cesiumContainer">
  	<div id="loadfile">
	    <div class="version" style="font-family:sans-serif;color:white;"> v0.0.1</div>
	    <input type="file" id="files" name="files[]" style="font-family:sans-serif;color:white;" (change)="handleFileSelect($event)" />
	</div>
  </div> -->
<!-- </div> -->
<!-- </body> -->

<div style="height: 100%">
	<div id="loadfile">
      <div class="version" style="font-family:sans-serif;color:white;">v0.0.8&nbsp;&nbsp;</div>
      <input type="file" id="files" name="files[]" style="font-family:sans-serif;color:white;" (change)="handleFileSelect($event)" />
  </div>
	<mobius-cesium [data]="gs_dummy_data"></mobius-cesium>
</div>