html,body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px !important;
  padding: 0px !important;
  border: 0px !important;
  outline:0px !important;
  overflow: hidden;
  font-size: 14px;
}

#loadfile{
  position: absolute;
  width: 300px; 
  left: calc(50% - 150px);
  top: 15px;
  z-index: 100;
  font-family:sans-serif;
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
}
